<!-- Nosso blog já conta com <strong> <%= Article.public_count %> </strong> artigo, e muitos mais estão por vir! -->

<div class="main-geral">
  
  <ul class="grid-list">
    <% @articles.each do |article| %>
    <% unless article.archived? %>

    <li class='li-artigo'>
          
      <%= link_to article.title, article %>

      
      <p><%= truncate(article.body, length: 30, omission: '...') %></p> 
      <button class="btn-conferir"><%= link_to "Conferir", article %></button>
    </li>

    <% end %>
    <% end %>
  </ul>
</div>




