:root{
    --background_header_footer: #072357;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* ####################################################################### */
/* ####################################################################### */

/* ######################     LOGIN E LOGOUT      ######################## */

/* ####################################################################### */
/* ####################################################################### */



.info-login {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-login p {
    margin: 0;
    color: #fff;
    font-size: 0.9rem;
}

/* Estilo dos botões de login e logout */
.btn-login, .btn-logout {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-login:hover, .btn-logout:hover {
    background-color: #0056b3;
}



/* ####################################################################### */
/* ####################################################################### */

/* #######################     HEADER INDEX      ######################### */

/* ####################################################################### */
/* ####################################################################### */



/* Estilo para o Header */
header {
    background-color: var(--background_header_footer);


    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100vw;
}

header h1 a{
    margin: 0;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

header h1 a:hover{
    color: #5da2ec;
}

.subtitulo {
    font-size: 1rem;
    margin-top: 5px;
    color: #ccc;
}

header p {
    font-size: 1rem;
    color: #ccc;
}


/* ####################################################################### */
/* ####################################################################### */

/* #########################     LI ARTIGO      ########################## */

/* ####################################################################### */
/* ####################################################################### */



.li-artigo {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.li-artigo:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.li-artigo a {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
}

.li-artigo p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

.li-artigo img{
    max-width: 100%;
    height: auto;
}

/* BTN CONFERIR */

.btn-conferir {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-conferir a {
    color: #fff;
    text-decoration: none;
}

.btn-conferir:hover {
    background-color: #0056b3;
}

.btn-conferir:active {
    background-color: #08315e;
    transform: scale(.9);
}


/* Grid principal para artigos */
.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

}

.main-geral-index{
    margin-top: 7rem;

    padding-bottom: 50px; /* Adiciona um espaço extra abaixo da lista de artigos */
}

.li-artigo-btn-new-artigo{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;

}

.btn-create-article {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }


  
  .btn-create-article:hover {
    background-color: #45a049; /* verde mais escuro */
  }
  
  
  .header-buttons {
    display: flex;
    justify-content: flex-end; /* alinhar botão à direita */
    padding: 10px 0;
  }
  

/* ####################################################################### */
/* ####################################################################### */

/* ###########################     FOOTER      ########################### */

/* ####################################################################### */
/* ####################################################################### */



footer {
    background-color: var(--background_header_footer);
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
footer p {
    font-size: 0.9rem;
}

/* ####################################################################### */
/* ####################################################################### */

/* #######################     RESPONSIVIDADE      ####################### */

/* ####################################################################### */
/* ####################################################################### */


@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    .li-artigo {
        padding: 15px;
    }

    .btn-conferir {
        padding: 8px 16px;
    }
}



